# Node.js 관련 파일 및 폴더
node_modules/
npm-debug.log*
yarn-error.log
yarn.lock

# 환경 설정 및 빌드 출력 폴더
.env
.env.local
.env.*.local
.cache/
dist/
build/

# IDE 및 편집기 관련 파일
.vscode/
.idea/
*.swp
*.swo

# 로그 파일
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 테스트 관련 파일
coverage/
*.test.js
*.test.ts
*.spec.js
*.spec.ts
jest.config.js
__snapshots__/

# 운영 시스템 관련 파일
.DS_Store
Thumbs.db

# Git 관련 파일
.git/
.gitignore

# 기타 설정 파일
package-lock.json
*.bak
*.tmp